---
layout: default
title: "Home"
description: ""
---
{% include JB/setup %}

{% for post in paginator.posts %}
  {% include post-lite.html %}
{% endfor %}

<div>
<p>Still converting old posts. More stuff soon... And a better design...</p>
<p><a href="mailto:wil@wilwade.com">wil@wilwade.com</a></p>
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page-{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page-{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>